extends ../template/layout.pug

block content  
  video(src="/"+video.fileUrl controls width="1000" height="500") 
  div
    h3=video.description  
    ul
      each hashtag in video.hashtags
        li=hashtag
    div
      small #{video.createdAt}    
  div
    a(href=`${video.id}/edit`) Edit video &rarr; 
  div
    a(href=`${video.id}/delete`) Delete video &rarr;