extends ../layout.pug

block content  
  div
    h3=video.description  
    p #{video.hashtags}  
    div
      small #{video.createdAt}    
  div
    a(href=`${video.id}/edit`) Edit video &rarr; 
  div
    a(href=`${video.id}/delete`) Delete video &rarr;